# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxproj
*.xcworkspace
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Testing
coverage/

# Temporary files
.tmp/

# Local env files
.env
.env*.local

# Typescript
*.tsbuildinfo

# IDE
.vscode/
*.swp
*.swo